<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";font-size:14px;}
		#allmap {width:100%;height:500px;}
        #showBox{display: none;}
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=bapc5YSA5DNGErNeCG2mvht6O492VyK8"></script>
	<title>逆地址解析</title>
</head>
<body>
    <!--<input type="text" id="input-info">
    <button id="mapBtn" >地图选址</button>-->
    <div id="showBox">
        <div id="allmap" ></div>
        <input type="text" id="inputMap">
        <button id="mapBtnAdress" >地点定位</button>
        <button id="mapBtnOptions" >地点标注</button>
        <input type="text" id="inputMapShow">
    </div>
    
</body>
</html>
<script type="text/javascript">

    $(function(){
        var mapBtn = $('#mapBtn');
        var showBox = $('#showBox');
        mapBtn.click(function(){
            showBox.show();
        });

        var map = {
            init:function(){
                var point = new BMap.Point(116.331398,39.897445); // 地图初始化位置
                var that = this;
                this.map = new BMap.Map("allmap");
                this.map.centerAndZoom(point,12);
                this.geoc = new BMap.Geocoder()
                this.Event();
            },
            Event:function(){
                var that = this;
                $('#mapBtnAdress').click(function(e){
                    var valueInput = $('#inputMap').val();
                    if(valueInput!=''){
                        that.getLocation(valueInput,true);
                    }
                }),
                $('#mapBtnOptions').click(function(e){
                    var valueInput = $('#inputMap').val();
                    if(valueInput!=''){
                        that.getLocation(valueInput,false);
                    }
                })
            },
            getLocation:function(value,type) {
                var that = this;
                this.geoc.getPoint(value, function(point){
                    console.log(point);
                    if (point) {
                        that.map.centerAndZoom(point, 16);
                        if(!type){
                            that.map.addOverlay(new BMap.Marker(point));
                        }
                        $('#inputMapShow').val(point.lng+','+point.lat);
                        $('#input-info').val(point.lng+','+point.lat);
                    }else{
                        alert("您选择地址没有解析到结果!");
                    }
                });
            }
        }

        map.init();
        
    })
    
</script>