.fa {
	padding-right: 5px;
}
.gridPanel{
	border-top:1px solid #CCCCCC;
}
.co_left{	
	border: 1px solid #ccc;
	    background: #FFFFFF;
}
.co_right{
	    border: 1px solid #ccc;
	    background: #FFFFFF;
	    
}
.content{
	margin-top: 10px;
}
.ui-widget.ui-widget-content{
	border: none;
}
.ui-widget-content {
    border: none;
}