<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>客户管理--历史工单</title>
		<link rel="stylesheet" href="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">
		<script src="../../../static/lib/scripts/jquery/jquery-1.10.2.min.js"></script>
		<script src="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="../../../static/lib/cm.js"></script>
		<script src="../../../static/lib/util.js"></script>
		<link rel="stylesheet" href="../../css/AdminLTE.min.css" />
		<link href="../../../static/lib/styles/font-awesome.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.extension.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/bootstrap/bootstrap.min.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<link href="../../common/tree/tree.css" rel="stylesheet" />
		<script src="../../common/tree/tree.js"></script>
		<script src="../../../static/lib/scripts/plugins/validator/validator.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-clientdata.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-im.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-webAppData.js"></script>
		<link href="../../../static/lib/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/jqgrid/jqgrid.js"></script>
		<link href="../../../static/lib/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>
		<link href="../../../static/lib/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/wizard/wizard.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-ui.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-form.js"></script>
		<script src="../../../static/lib/scripts/plugins/printTable/jquery.printTable.js"></script>
		<link href="../../../static/lib/styles/learun-ckbox-radio.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-applayout.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-flow.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>
		<script src="../../../static/lib/scripts/plugins/flow-ui/flow.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>
		<script src="../../../static/lib/page_parameters.js"></script>
		<!--时间控件引用-->
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/en.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-tw.js"></script>
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker-dev.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/whyGreen/datepicker.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/WdatePicker.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datepicker/DatePicker.js"></script>
	</head>

	<body>
		<div>
			<ul class="timeline" style="padding-bottom: 20px;" id = "historyID">
				
			</ul>
		</div>
	</body>
	<!--独立界面引用-->
	<link href="../../css/customer_manage/order_product_detail_history.css" rel="stylesheet" />
	<script src="../../js/customer_manage/order_product_detail_history.js"></script>

</html>