html,
body {
	width: 100%;
	height: 100%;
	background: #126c90;
	color: #fff;
	/* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#126c90, #1d5484, #103982);
	/* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#126c90, #1d5484, #103982);
	/* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#126c90, #1d5484, #103982);
	/* For Firefox 3.6 to 15 */
	background: radial-gradient(#126c90, #1d5484, #103982);
	/* Standard syntax */
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding-right: 0px;
	padding-left: 0px;
}

.ui-layout .west-Panel {
	background-color: #0f3357;
	color: #fff;
}

.bbit-tree-node i {
	color: #fff;
}

.bbit-tree-node a span {
	color: #fff;
}

.search_div {
	background-color: #0f3357;
	color: #fff;
	padding: 5px 0px;
}

.titlePanel .toolbar i {
	color: #fff;
}

.titlePanel {
	line-height: 0px;
}

.titlePanel .toolbar {
	line-height: 0px;
}


/*工具栏*/

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.time_class {
	width: 140px;
	display: inline-block;
	border-radius: 5px;
}

.select_class {
	width: 80px;
	display: inline;
	border-radius: 5px;
}

.time_name {
	padding-left: 10px;
	color: #fff;
}

.list_time {
	padding-left: 10px;
	color: #fff;
}

.text_class {
	line-height: 23px;
	font-weight: bold;
}


/*工具栏*/


/*自定义内容样式*/

.content_class {
	height: 100%;
	background-color: #0f3357;
	color: #fff;
}

#gridDid {
	overflow-y: hidden;
}

.content_2 {
	background-color: #0f3357;
	color: #fff;
	overflow: auto;
}

.ui-layout .center-Panel {
	margin-right: 10px;
	background: #0f3357;
}

.title_content_name {
	color: #fff;
	margin: 5px;
}

#eq_name {
	font-size: 16px;
}

#code_id {
	font-size: 12px;
}

.time_controll {
	margin-left: 5px;
}


/*自定义内容样式*/

.col-xs-4,
.col-xs-8 {
	padding-left: 5px;
	padding-right: 5px;
}

.col-xs-8 {
	width: 66%;
}

.div_left_one {
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid #4c80a1;
}

.div_left_two {
	overflow: auto;
}

.tip {
	color: #FFF;
	margin: 5px;
}

.top_left {
	text-align: center;
}

.top_left img {
	width: 70%;
	height: 60%;
}

#tableId table {
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
}

#tableId table th,
#tableId table td {
	border: 1px solid #fff;
	word-wrap: break-word;
	white-space: normal !important;
}

#tableId table tbody {
	display: block;
	/*height: 300px;*/
	overflow-y: scroll;
}

#tableId table thead {
	background-color: #0e245f;
}

#tableId table thead,
#tableId tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#tableId table thead {
	width: calc( 100% - 1.3em);
}

.div_right_one table {
	width: 100;
	text-align: center;
	color: #fff;
}

.profile-nav {
	background: #0f3357;
	color: #fff;
}

.profile-nav li.active {
	border-left: 3px solid #2861a3;
	background: #0d1b2b;
}

.profile-nav li {
	font-weight: bold;
	border-left: none;
}

.profile-nav li:hover {
	background: #0d1b2b;
}

.profile-nav {
	overflow: auto;
}

.status_class {
	font-weight: bold;
	color: #fff;
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	margin-left: 5px;
}