 .file {
 	position: relative;
 	display: inline-block;
 	overflow: hidden;
 	text-decoration: none;
 	text-indent: 0;
 	cursor: pointer !important;
 }
 
 .file input {
 	position: absolute;
 	font-size: 100px;
 	right: 0;
 	top: 0;
 	opacity: 0;
 	cursor: pointer !important;
 }
 
 .file:hover {
 	text-decoration: none;
 	cursor: pointer !important;
 }
 
 
