.filter-block {
	width: 100%;
	margin: 0px auto 10px;
	border: 1px solid #b7b6b6;
	background-color: #FFFFFF;
}

.flyout-table {
	margin-left: 3%;
	margin-top: 1%;
}

.flyout-table tbody tr {
	margin: 10px;
}

.flyout-table tbody tr td {
	text-align: center;
	padding: 10px;
}

.but {
	display: inline-block;
	position: relative;
	float: right;
	padding: 0 18px;
	margin: 10px 20px 10px 0;
	background: none repeat scroll 0 0 #009aff;
	border: 1px solid #CFCFCF;
	border-form-control: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
}

.but_ {
	border: 0;
	float: right;
	padding: 0 18px;
	margin: 10px 20px 10px 0;
	background: none repeat scroll 0 0 #009aff;
	border-form-control: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
}

.file-buts {
	position: relative;
	margin: 8px 90px;
	float: right;
}

.hs-block {

	padding-bottom: 75px;
	display: none;
}

.file-block {
	padding-bottom: 105px;
	display: none;
}

.sh-but {
	background: none repeat scroll 0 0 #1ab394;
	color: #fff;
}

.rt-but {
	background: none repeat scroll 0 0 #bababa;
	color: #fff;
}

.pu-block {
	right: 20px;
	bottom: 15px;
}

label {
	display: inline;
}

.regular-radio td>input {
	display: none;
	bod;
}

.regular-radio td>input+label {
	padding: 10px;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 10px 37px;
	border-form-control: 5px;
	display: inline-block;
	position: relative;
	text-align: center;
	border-radius: 10px;
}

.regular-radio td>input:checked+label:after {
	content: ' ';
	width: 100%;
	height: 100%;
	border-form-control: 5px;
	position: absolute;
	top: -2px;
	left: -2px;
	border: 2px solid #3c8dbc;
	border-radius: 10px;
}

.hidden-text:hover {
	color: #3c8dbc;
}