/*百度地图版权文字隐藏*/

.titlePanel .anchorBL {
	display: none!important;
}

.titlePanel .BMap_cpyCtrl {
	display: none!important;
}

.search_div {
	width: 300px;
	height: 150px;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	opacity: 0.9;
}

.ui-filter-list{
	margin-top: 10px;
}

.formTitle {
	color: #fff;
}

#btn_Search {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	display: inline-block;
	padding: 4px 100px;
	margin-bottom: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

#btn_Search:active {
    color:#000;
}

.ui-filter-list-bottom{
	margin-top: 10px;
	text-align: center;	
}

#StartTime{
	border-radius: 5px;
}

#EndTime{
	border-radius: 5px;
}
