<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>配置产品信息</title>
		<link rel="stylesheet" href="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">
		<script src="../../../static/lib/scripts/jquery/jquery-1.10.2.min.js"></script>
		<script src="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="../../../static/lib/cm.js"></script>
		<script src="../../../static/lib/util.js"></script>
		<link href="../../../static/lib/styles/font-awesome.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/bootstrap/bootstrap.min.js"></script>
		<script src="../../../static/lib/scripts/plugins/layout/jquery.layout.js"></script>
		<link href="../../common/tree/tree.css" rel="stylesheet" />
		<script src="../../common/tree/tree.js"></script>
		<script src="../../../static/lib/scripts/plugins/validator/validator.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-clientdata.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-im.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-webAppData.js"></script>
		<link href="../../../static/lib/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/jqgrid/jqgrid.js"></script>
		<link href="../../../static/lib/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>
		<link href="../../../static/lib/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/wizard/wizard.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-ui.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-form.js"></script>
		<script src="../../../static/lib/scripts/plugins/printTable/jquery.printTable.js"></script>
		<link href="../../../static/lib/styles/learun-ckbox-radio.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-applayout.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-flow.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>
		<script src="../../../static/lib/scripts/plugins/flow-ui/flow.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>
		<script src="../../../static/lib/page_parameters.js"></script>
		<!--时间控件引用-->
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/en.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-tw.js"></script>
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker-dev.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/whyGreen/datepicker.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/WdatePicker.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datepicker/DatePicker.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<style>
			html,
			body {
				height: 100%;
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
			<div class="ui-layout-west">
				<div class="west-Panel">
					<div class="panel-Title">产品分类</div>
					<div id="itemTree"></div>
				</div>
			</div>
			<div class="ui-layout-center">
				<div class="center-Panel">
					<div class="titlePanel">
						<div class="title-search">
							<table>
								<tr>
									<td>
										<div id="queryCondition" class="btn-group">
											<a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
											<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
												<span class="caret"></span>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a data-value="EnCode">编号</a>
												</li>
												<li>
													<a data-value="FullName">名称</a>
												</li>
												<li>
													<a data-value="UrlAddress">地址</a>
												</li>
											</ul>
										</div>
									</td>
									<td style="padding-left: 2px;">
										<input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
									</td>
									<td style="padding-left: 5px;">
										<a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
									</td>
								</tr>
							</table>
						</div>
						<div class="toolbar">
							<div class="btn-group">
								<a id="lr-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
								<a id="lr-add" class="btn btn-default" onclick="model.btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
								<a id="lr-edit" class="btn btn-default" onclick="model.btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
								<a id="lr-delete" class="btn btn-default" onclick="model.btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
								<a id="lr-detail-delete" class="btn btn-default" onclick="model.btn_detail_delete()"><i class="fa fa-remove"></i>&nbsp;详情删除</a>
								
							</div>
							<div class="btn-group">
								<a id="lr-excel-import" class="btn btn-default" onclick="model.btn_excel_import()"><i class="fa  fa-download"></i>&nbsp;excel导入</a>
								<a id="lr-pro-config" class="btn btn-default" onclick="model.btn_pro_confit()"><i class="fa fa-gg"></i>&nbsp;产品配置</a>
							</div>
						</div>
					</div>
					<div class="gridPanel">
						<table id="gridTable"></table>
						<div id="gridPage"></div>
					</div>
					<hr/ style="margin-top: 0px;margin-bottom: 0px; height: 5px;background-color: #e1e5e9;">
					<div class="gridPanel" style="margin-top: 5px;">
						<table id="gridChildTable"></table>
						<div id="gridChildPage"></div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<!--独立界面引用-->
	<link href="../../css/product_attributes/configure_product.css" rel="stylesheet" />
	<script src="../../js/product_attributes/configure_product.js"></script>

</html>