<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>工作令新增</title>
		<link rel="stylesheet" href="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">
		<script src="../../../static/lib/scripts/jquery/jquery-1.10.2.min.js"></script>
		<script src="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="../../../static/lib/cm.js"></script>
		<script src="../../../static/lib/util.js"></script>
		<link href="../../../static/lib/styles/font-awesome.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.extension.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/bootstrap/bootstrap.min.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<link href="../../common/tree/tree.css" rel="stylesheet" />
		<script src="../../common/tree/tree.js"></script>
		<script src="../../../static/lib/scripts/plugins/validator/validator.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-clientdata.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-im.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-webAppData.js"></script>
		<link href="../../../static/lib/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/jqgrid/jqgrid.js"></script>
		<link href="../../../static/lib/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>
		<link href="../../../static/lib/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/wizard/wizard.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-ui.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-form.js"></script>
		<script src="../../../static/lib/scripts/plugins/printTable/jquery.printTable.js"></script>
		<link href="../../../static/lib/styles/learun-ckbox-radio.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-applayout.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-flow.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>
		<script src="../../../static/lib/scripts/plugins/flow-ui/flow.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>
		<script src="../../../static/lib/page_parameters.js"></script>
		<!--时间控件引用-->
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/en.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-tw.js"></script>
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker-dev.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/whyGreen/datepicker.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/WdatePicker.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datepicker/DatePicker.js"></script>
	</head>

	<body>
		<form id="form1">
			<div style="margin: 20px 15px 0px; ">
				<table class="form">
					<tr>
						<td class="formTitle">产品型号:</td>
						<td class="formValue">
							<input type="text" name="" id="" class="form-control" value="" readonly="readonly" />
						</td>
						<td class="formTitle">工作令:</td>
						<td class="formValue">
							<input type="text" class="form-control" name="" id="" value="" />
						</td>
					</tr>
					<tr>
						<td class="formTitle">数量:</td>
						<td class="formValue">
							<input type="text" class="form-control" name="" id="" value="" />
						</td>
						<td class="formTitle">产品名称:</td>
						<td class="formValue">
							<input type="text" name="" id="" value="" class="form-control" />
						</td>
					</tr>
					<tr>
						<td class="formTitle">出产日期:</td>
						<td class="formValue">
							<input type="text" name="" id="" value="" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" readonly="readonly" />
						</td>
						<td class="formTitle">质保期限:</td>
						<td class="formValue">
							<input type="number" name="" id="" value="" class="form-control" />
						</td>
					</tr>
					<tr>
						<td class="formTitle">质保三包期限:</td>
						<td class="formValue">
							<input type="number" name="" id="" value="" class="form-control" />
						</td>
						<td class="formTitle">合同号:</td>
						<td class="formValue">
							<input type="text" name="" id="" value="" class="form-control" />
						</td>
					</tr>
					<tr>
						<td class="formTitle">客户名称:</td>
						<td class="formValue">
							<input type="text" name="" id="" value="" class="form-control" />
						</td>
						<td class="formTitle">客户地址:</td>
						<td class="formValue">
							<input type="text" name="" id="" value="" class="form-control" />
						</td>
					</tr>
					<tr>
						<td class="formTitle">产品编码开始位:</td>
						<td class="formValue">
							<input type="text" name="" id="" value="" class="form-control" />
						</td>
						<td class="formTitle">步长:</td>
						<td class="formValue">
							<input type="text" name="" id="" value="" class="form-control" />
						</td>
					</tr>
				</table>

			</div>

		</form>
	</body>
	<!--独立界面引用-->
	<link href="../../css/product_attributes/configure_product_add.css" rel="stylesheet" />
	<script src="../../js/product_attributes/configure_product_add.js"></script>

</html>