<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>知识库查看</title>
		<script src="../../../static/lib/scripts/jquery/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" href="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">

		<script src="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="../../../static/lib/cm.js"></script>
		<script src="../../../static/lib/util.js"></script>
		<link href="../../../static/lib/styles/font-awesome.min.css" rel="stylesheet" />
		<!--<link href="../../../static/lib/scripts/plugins/jquery-ui/jquery-ui.min.css" />
		<script src="../../../static/lib/scripts/plugins/jquery-ui/jquery-ui.min.js"></script>-->
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/bootstrap/bootstrap.min.js"></script>
		<link href="../../common/tree/tree.css" rel="stylesheet" />
		<script src="../../common/tree/tree.js"></script>
		<script src="../../../static/lib/scripts/plugins/validator/validator.js"></script>
		<!--<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>-->
		<script src="../../../static/lib/scripts/utils/learun-clientdata.js"></script>
		<!--<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>-->
		<!--<script src="../../../static/lib/scripts/utils/learun-form.js"></script>-->
		<script src="../../../static/lib/scripts/utils/learun-im.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-webAppData.js"></script>
		<link href="../../../static/lib/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/jqgrid/jqgrid.js"></script>
		<link href="../../../static/lib/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>
		<link href="../../../static/lib/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/wizard/wizard.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-ui.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-form.js"></script>
		<script src="../../../static/lib/scripts/plugins/printTable/jquery.printTable.js"></script>
		<link href="../../../static/lib/styles/learun-ckbox-radio.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-applayout.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-flow.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>
		<script src="../../../static/lib/scripts/plugins/flow-ui/flow.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>
		<script src="../../../static/lib/page_parameters.js"></script>
		<!--时间控件引用-->
		<script src="../../../static/lib/scripts/as/know/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/js/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/blue.css" />
		<script src="../../../static/lib/scripts/as/know/js/global.js" type="text/javascript" charset="utf-8"></script>
		
		<!--<script src="../../js/aw_knowledge_view/aw_knowledge_edit_index.js" type="text/javascript" charset="utf-8"></script>-->
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/ionicons.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/AdminLTE.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/_all-skins.min.css" />
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/en.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-tw.js"></script>
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker-dev.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/whyGreen/datepicker.css" />
		<link href="../../../../static/lib/scripts/plugins/datepicker/skin/WdatePicker.css" />
		<script src="../../../static/lib/scripts/plugins/datepicker/DatePicker.js"></script>
		<script src="../../js/jquery.highlight.js" type="text/javascript" charset="utf-8"></script>
		<!--未知道原因报错-->
		<!--<script src="../../../static/lib/scripts/plugins/datepicker/calendar.js"></script>-->
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

		<style type="text/css">
			<style>body {
				margin: 10px;
				margin-bottom: 0px;
			}
			.highlight{color: red;font-weight: bold;font-size: 16px;}
			.no_ming img{
				display: none;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper" style="margin-left: 0;">
				<section class="content-header">
					<h1>知识库</h1>
					<div class="search-div">
						<div class="layui-input-inline">
							<input class="layui-input" lay-verify="lv_query" name="" id="query" autocomplete="off" placeholder="请输入搜索条件 ">
						</div>
						<button type="button" class="layui-btn" lay-submit lay-filter="" id="search">搜索</button>
					</div>
				</section>
				<!-- Main content -->
				<section class="content">
					<div class="row">
						<div class="col-md-3">

							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">菜单</h3>
									<div class="box-tools">
										<!--<button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>-->
									</div>
								</div>
								<div class="box-body no-padding">
									<ul id="demo"></ul>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">文章列表</h3>
									<div style="float: right;"><input type="checkbox" name="checkbox1" value="1" onclick="ImageTextSwitch()"> 图/文切换</div>
									<!--<div class="box-tools pull-right">
                                    <!--<div class="has-feedback">
                                        <input type="text" class="form-control input-sm" placeholder="Search Mail">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>--

                                </div>-->
									<div class="pull-right box-tools">
										<!--<button type="button" class="btn btn-info btn-sm open_adds" style="margin-right: 25px;height: 32px;">新增</button>-->
									</div>
								</div>
								<div class="box-body " id="page_list">
									<!--<div class="active tab-pane" >
                                                <div class="post">
                                                    <div class="user-block">
                                                        <img class="img-circle img-bordered-sm" src="" alt="" style="">
                                                        <span class="username" style="">
                                  <a href="#">文章标题</a>
                                </span>
                                                        <ul class="list-inline">
                                                            <li>
                                                                <span>创建人:</span>
                                                            </li>
                                                            <li>
                                                                <span>张三</span>
                                                            </li>
                                                        </ul>
                                                        <p class="description" style="margin-left: 0;">文章简介</p>
                                                        <ul class="list-inline" style="text-align: right;">
                                                            <li>
                                                                <span style="margin-right: 10px;">所属分类:测试</span>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="link-black text-sm"><i class="fa fa-clock-o margin-r-5"></i>上传时间
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>-->
								</div>
								<div class="box-footer no-padding">
									<div class="mailbox-controls">
										<div id="page-button" style="text-align: center;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

	</body>
	<!--独立界面引用-->
	<!--<link href="../../../static/css/aws/home/homeDesktop.css" />
	<script src="../../../static/js/aws/home/home.js"></script>-->
	<link rel="stylesheet" type="text/css" href="../../css/aw_knowledge_view/index.css" />
	<script src="../../../static/lib/scripts/as/know/js/knowledge_main.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="../../js/aw_knowledge_view/index.js" type="text/javascript" charset="utf-8"></script>-->

</html>