
#content,#warranty_content{
	overflow: hidden;
	/*text-align: center;*/
	padding: 10px;
}


.title_text{
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
	margin: 10px 10px;
	color: #737171;
}

