html,
body {
	margin: 10px;
	background-color: #ecf0f6;
}

.text-muted{
	text-indent: 0.5cm;
}

hr{
	margin: 10px 5px;
}

.img_class{
	width: 150px;
	height: 100px;
	margin-left: 5px;
	margin-bottom: 5px;
}
