html,
body {
	margin: 10px 30px;

}

.table_div tr,
td {
	padding: 8px;
	color: #464748;
	font-size:13px ;
	border: 1px solid #E0E0E0;	
	/*text-align: center;*/
}

.table_div td[colspan='2']{
	/*color: #000;
	font-weight: bold;*/
}
.title_text {
	border: 1px solid #E0E0E0;
    background-color: #f7f7f7;
    padding: 5px;
    font-size: 13px;
    color: #737171;
    font-weight: bold;
    text-align: center;
}
.title_texts {
	 color: #1b1a1a;
    font-size: 15px;
    font-weight: bold;
}
   

.table_div table {
	border: 1px solid #E0E0E0;	
}