/*table {
	padding-left: 10px;
}

td,
th {
	padding: 20px;
}*/


/*.fa {
	padding-right: 5px;
}*/
  .file-item {
  	width: 97%;
  	padding: 10px;
  	box-sizing: border-box;
  	margin-left: 10px;
  	color: #3c8dbc;
  }
  
  .file-element-data {
  	padding: 10px 20px;
  	margin-bottom: 15px;
  	border-bottom: 1px solid #ddd;
  }
  
  .file-element-data p {
  	font-size: 14px;
  	color: #666;
  }
  
  .clearfix li {
  	text-align: center;
  }
  
  .clearfix li img {
  	width: 65px;
  	height: 65px;
  }
  
  .mailbox-attachment-info {
  	padding: 5px;
  }
  
  .mailbox-attachment-icon {
  	font-size: 46px;
  	padding: 0;
  }
  
  .users-list li img {
  	width: 128px;
  	height: 128px;
  }
  
  .cloes-tag {
  	position: absolute;
  	right: 20px;
  	top: 5%;
  	width: 20px;
  	height: 20px;
  	border: none;
  	cursor: pointer;
  	-webkit-transition: all 1s;
  	-ms-transition: all 1s;
  	-moz-transition: all 1s;
  	-o-transition: all 1s;
  	transition: all 1s;
  }
  
  .cloes-tag:before,
  .cloes-tag:after {
  	content: '';
  	position: absolute;
  	background-color: #fff;
  	transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
  	-o-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  }
  
  .cloes-tag:before {
  	left: 45%;
  	top: -10%;
  	width: 10%;
  	height: 120%;
  }
  
  .cloes-tag:after {
  	top: 45%;
  	left: -10%;
  	width: 120%;
  	height: 10%;
  }
  
    .popwindow {
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	left: 50%;
  	top: 55%;
  	visibility: hidden;
  	opacity: 0;
  	background-color: white;
  	-webkit-transition: all 0.6s;
  	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
  }
  
  .popwindow img {
  	width:55%;
  	height: 85%;
  	margin-left: 26%;
  	margin-top: 1.8%;
  }
  
  .popwindow-show {
  	width: 100%;
  	height: 100%;
  	visibility: visible;
  	opacity: 1;
  	background: rgba(87, 83, 83, 0.3);
  	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
  	color: #000000;
  }
  
  #supplement {
  	color: #444;
  }
  
  #supplement h5 {
  	line-height: 30px;
  }
  
  .right {
  	float: right;
  	margin-right: 50px;
  }
  
  .control-label {
  	padding-top: 7px;
  	margin-bottom: 0;
  	text-align: right;
  	color: #444444;
  }
  
  .evaluate {
  	text-indent: 12px;
  	margin-bottom: 15px;
  }
  
  .evaluate label {
  	font-size: 14px;
  }
  
  .imgss {
  	padding: 0;
  }
  
  .grade span {
  	margin-left: 15px;
  	line-height: 30px;
  	font-size: 14px;
  }
  
  .grade {
  	float: right;
  }
  
  .star {
  	width: 100%;
  	height: 45%;
  }
  
  .star ul li {
  	width: 30px;
  	height: 30px;
  	display: inline-block;
  	background: url("../../images/star_hollow.png") no-repeat;
  }
  
  .star ul li a {
  	height: 20px;
  	width: 10px;
  	display: inline-block;
  	float: left;
  }
  
  .sure {
  	width: 100%;
  	height: 30%;
  }
.titlePanel .toolbar i {
	color: #fff;
}

.lr-remove {
	padding: 2px 3px 2px 8px;
	background-color: #367fa9;
    color: #fff;
    border-radius: 3px;
    border: none;
}
.borders{margin-top: 20px;}
#tab-remove {
	padding: 2px 3px 2px 8px;
}

.box-header.with-border {
	border-bottom: 1px solid #CCC;
}

.titlePanelZ {
	margin: 10px;
}
/*.file-item_time{color: #128bb9;}*/
.btn-group {
	margin-right: 25px;
}

.btns {
	margin-top: 22px;
}

#ti-border {
	border-top: none;
}

.control-label {
	padding-right: 0;
}

.titlePanel {
	border-left: none;
	border-right: none;
}

.up_img_data {
	margin-top: 10px;
}

.box-header {
	padding: 15px;
}

.form-group-h {
	padding: 28px;
}

.col_table {
	padding-bottom: 30px;
	padding-right: 0;
}

.imgs_yiji img {
	width: 249px;
}

.imgs_yiji {
	padding: 30px;
}

.box-radios {
	margin: 16px;
}

ul li {
	list-style: none;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border: 1px solid #ccc;
}

.col_left {
	background: #FFFFFF;
}

.col_right {
	background: #FFFFFF;
}

#lrs_logistics {
	background: #fff;
}

#lrs_shuaxin {
	background: #fff;
}

.col_right .titlePanel {
	border: none;
}

.right {
	float: right;
}

#productType-option {
	z-index: 11111111;
}

.col_left {
	background: #FFFFFF;
}

.col_right {
	background: #FFFFFF;
}

.col_right .titlePanel {
	border: none;
}

.right {
	float: right;
}


/*
 * alvin 
 * table属性
 * star
 */

.toolbar a {
	background: #fff;
}

.gridPanel .ui-jqgrid tr.jqgrow td {
	border-right: 1px solid #ccc;
}

.gridPanel .ui-jqgrid .form-control {
	padding: 12px;
}

.gridPanel .ui-state-highlight,
.gridPanel .ui-widget-content .ui-state-highlight,
.gridPanel .ui-widget-header .ui-state-highlight {
	background: #fff;
	color: #000;
}

.gridPanel .btn_class {
	padding: 2px 5px;
}

.class_btn_ext {
	background-color: #367fa9!important;
}

#ext_pro_id tr,
#ext_pro_id td {
	padding: 10px 20px;
}

#ext_pro_id button {
	padding: 5px 10px;
}

#specif_id .ui-jqgrid-bdiv {
	overflow: hidden;
}

.btn_position,.btn_position_modelTwo{
	position: absolute;
	top:-20px;
	right: 110px;
}

#specif_table_id tbody td {
	border-right: 1px solid #ccc;
}

#specif_id .ui-state-highlight,
#specif_id .ui-widget-content .ui-state-highlight,
#specif_id .ui-widget-header .ui-state-highlight {
	background: #fff;
	color: #000;
}

#specif_id button{
	margin: 3px;
}

.td_btn_class{
	padding-left: 10px;
	width: 50px;
}


#content_id table{
	width: 100%;
}

.type-group{
	
}

.type-group table:first-child{
	margin-bottom: 10px;
	margin-top: 20px;
}


#content_id table:last-child tbody td {
	border-right: 1px solid #ccc;
}

#content_id .ui-state-highlight,
#content_id .ui-widget-content .ui-state-highlight,
#content_id .ui-widget-header .ui-state-highlight {
	background: #fff;
	color: #000;
}

.remove_btn_specif_two{
	margin: 2px;
    padding: 5px 8px;
}


/*
 * end
 */