<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>产品属性配置</title>
		<link rel="stylesheet" href="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">
		<script src="../../../static/lib/scripts/jquery/jquery-1.10.2.min.js"></script>
		<script src="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="../../../static/lib/cm.js"></script>
		<script src="../../../static/lib/util.js"></script>
		<link href="../../../static/lib/styles/font-awesome.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/bootstrap/bootstrap.min.js"></script>
		<link href="../../common/tree/tree.css" rel="stylesheet" />
		<script src="../../common/tree/tree.js"></script>
		<script src="../../../static/lib/scripts/plugins/validator/validator.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-clientdata.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-im.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-webAppData.js"></script>
		<link href="../../../static/lib/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/jqgrid/jqgrid.js"></script>
		<link href="../../../static/lib/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>
		<link href="../../../static/lib/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/wizard/wizard.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-ui.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-form.js"></script>
		<script src="../../../static/lib/scripts/plugins/printTable/jquery.printTable.js"></script>
		<link href="../../../static/lib/styles/learun-ckbox-radio.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-applayout.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-flow.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>
		<script src="../../../static/lib/scripts/plugins/flow-ui/flow.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>
		<script src="../../../static/lib/page_parameters.js"></script>
		<!--时间控件引用-->
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/en.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-tw.js"></script>
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker-dev.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/whyGreen/datepicker.css" />
		<link href="../../../../static/lib/scripts/plugins/datepicker/skin/WdatePicker.css" />
		<script src="../../../static/lib/scripts/plugins/datepicker/DatePicker.js"></script>
		<!--未知道原因报错-->
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper" style="margin-left: 0;">
				<section class="content">
					<div class="row">
						<div class="col-md-2" style="padding-right: 0;">
							<div class="co_left">
								<div class="ui-layout-west">
									<div class="west-Panel">
										<div class="panel-Title">产品分类</div>
										<div id="itemTree"></div>
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-10">
							<div class="co_right">
								<!--<table>
									<tr>
										<td style="padding-left: 6px;">
											<a id="lrs_shuaxin" class="btn btn-primary" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
											<a id="lrs_preview" class="btn btn-primary"><i class="fa fa-eye"></i>预览</a>
											<a id="lrs_addeds" class="btn btn-primary" onclick="model.btn_add()"><i class="fa fa-pencil"></i>新增</a>
											<a id="lrs_modify" class="btn btn-primary"><i class="fa  fa-edit"></i>修改</a>
											<a id="lrs_delete" class="btn btn-primary"><i class="fa fa-times"></i>删除</a>
											<a id="lrs_classification" class="btn btn-primary"><i class="fa fa fa-tags"></i>产品分类</a>
										</td>
									</tr>
								</table>-->
								<div class="titlePanel" style="border: none;">
									<div class="title-search">
										<table>
											<tr>
												<td>
													<input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
												</td>
												<td style="padding-left: 5px;">
													<a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
												</td>
											</tr>
										</table>

									</div>
									<div class="toolbar">
										<div class="btn-group">
											<a id="lrs_shuaxin" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
										</div>
									</div>
								</div>
							
							<div class="gridPanel">
								<div>
									<table id="gridTable"></table>
									<div id="gridPager"></div>
								</div>

							</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</body>
	<link rel="stylesheet" type="text/css" href="../../css/equipment/attribute_configuration.css" />
	<script src="../../js/equipment/attribute_configuration.js" type="text/javascript" charset="utf-8"></script>

</html>