<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>更换背景图</title>
		<script src="../../../static/lib/scripts/jquery/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" href="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">
		<script src="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="../../../static/lib/cm.js"></script>
		<script src="../../../static/lib/util.js"></script>
		<link href="../../../static/lib/styles/font-awesome.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/bootstrap/bootstrap.min.js"></script>
		<link href="../../common/tree/tree.css" rel="stylesheet" />
		<script src="../../common/tree/tree.js"></script>
		<script src="../../../static/lib/scripts/plugins/validator/validator.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-clientdata.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-im.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-webAppData.js"></script>
		<link href="../../../static/lib/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/jqgrid/jqgrid.js"></script>
		<link href="../../../static/lib/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>
		<link href="../../../static/lib/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/wizard/wizard.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-ui.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-form.js"></script>
		<script src="../../../static/lib/scripts/plugins/printTable/jquery.printTable.js"></script>
		<link href="../../../static/lib/styles/learun-ckbox-radio.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-applayout.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-flow.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>
		<script src="../../../static/lib/scripts/plugins/flow-ui/flow.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>
		<script src="../../../static/lib/page_parameters.js"></script>
		<script src="../../js/summernote.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/summernote-zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/lib/styles/summernote.css" />

		<!--时间控件引用-->
		<script src="../../../static/lib/scripts/as/know/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/js/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/blue.css" />
		<script src="../../../static/lib/scripts/as/know/js/global.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/ionicons.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/AdminLTE.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/_all-skins.min.css" />
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/en.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-tw.js"></script>
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker-dev.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/whyGreen/datepicker.css" />
		<link href="../../../../static/lib/scripts/plugins/datepicker/skin/WdatePicker.css" />
		<script src="../../../static/lib/scripts/plugins/datepicker/DatePicker.js"></script>
		<!--未知道原因报错-->
		<!--<script src="../../../static/lib/scripts/plugins/datepicker/calendar.js"></script>-->
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/page_data.css" />
		<style type="text/css">
			.configure {
				padding-bottom: 8px;
				color: #1e88c7;
			}
			.up_img_data{
				margin-top: 10px;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<form class="layui-form" action="" id="page-box">
			<div class="wrapper">
				<div class="content-wrapper" style="margin-left: 0;">
					<section class="content">
						<div class="row">
							<div class="col-md-12" style="margin: 0 auto;">
								<div class="box box-info">
									<div class="box-header with-border">
										<h3 class="box-title">更换背景图</h3>
									</div>
									<div class="row">
										<div class="col-md-5">
											<div class="form-group" style="margin-top: 10px;">
												<label for="exampleInputFile" class="configure">设备配置背景</label>
												<div class="input-group">
													<input id="picPath" type="text" class="form-control" style="display:none" />
													<img src=" " id="thumbnailPath" style="width: 200px;height: 150px; " />
													<button class="layui-btn layui-btn-primary layui-btn-small up-img-but" type="button" onclick="new_model.delte_img(this)">
                                                        <i class="layui-icon">&#xe640;</i>
                                                    </button>
													<div class="up_img_data">
														<form enctype="multipart/form-data">
															<input class="file_but" type='button' value='选择文件' onclick='javascript:$(this).next().click();' />
															<input style="display: none" type="file" name="" onchange="new_model.switch_img(this)" />
															<button type="button" onclick="new_model.upload(this)">上传图片</button>
														</form>
													</div>
												</div>
												<p class="help-block">请在此上传文件.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</form>

	</body>
	<script src="../../js/page_data.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/equipment/replace.js" type="text/javascript" charset="utf-8"></script>
</html>