<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>待办工单</title>
		<link rel="stylesheet" href="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">
		<script src="../../../static/lib/scripts/jquery/jquery-1.10.2.min.js"></script>
		<script src="../../../static/lib/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="../../../static/lib/cm.js"></script>
		<script src="../../../static/lib/util.js"></script>
		<link href="../../../static/lib/styles/font-awesome.min.css" rel="stylesheet" />
		<!--<link href="../../../static/lib/scripts/plugins/jquery-ui/jquery-ui.min.css" />
		<script src="../../../static/lib/scripts/plugins/jquery-ui/jquery-ui.min.js"></script>-->
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/bootstrap/bootstrap.min.js"></script>
		<link href="../../common/tree/tree.css" rel="stylesheet" />
		<script src="../../common/tree/tree.js"></script>
		<script src="../../../static/lib/scripts/plugins/validator/validator.js"></script>
		<!--<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>-->
		<script src="../../../static/lib/scripts/utils/learun-clientdata.js"></script>
		<!--<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>-->
		<!--<script src="../../../static/lib/scripts/utils/learun-form.js"></script>-->
		<script src="../../../static/lib/scripts/utils/learun-im.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-webAppData.js"></script>
		<link href="../../../static/lib/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/jqgrid/jqgrid.js"></script>
		<link href="../../../static/lib/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>
		<link href="../../../static/lib/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/wizard/wizard.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-ui.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-form.js"></script>
		<script src="../../../static/lib/scripts/plugins/printTable/jquery.printTable.js"></script>
		<link href="../../../static/lib/styles/learun-ckbox-radio.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-applayout.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-flow.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>
		<script src="../../../static/lib/scripts/plugins/flow-ui/flow.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>
		<script src="../../../static/lib/page_parameters.js"></script>
		<!--时间控件引用-->
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<!--	<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>-->
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/en.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-tw.js"></script>
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker-dev.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/whyGreen/datepicker.css" />
		<link href="../../../../static/lib/scripts/plugins/datepicker/skin/WdatePicker.css" />
		<script src="../../../static/lib/scripts/plugins/datepicker/DatePicker.js"></script>
		<!--未知道原因报错-->
		<!--<script src="../../../static/lib/scripts/plugins/datepicker/calendar.js"></script>-->
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<style>
			body {
				margin: 10px;
				margin-bottom: 0px;
			}
		</style>
	</head>

	<body>
		
		<div class="titlePanel">
			<div class="title-search">
				<table>
					<tr>
						<td>
							<input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
						</td>
						<td style="padding-left: 5px;">
							<a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
							<a id="" class="btn btn-primary" onclick="model.show_hs()">高级查询</a>
						</td>
					</tr>
				</table>

			</div>
			<div class="toolbar">
				<div class="btn-group">
					<a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
					<a id="lr-edit" class="btn btn-default" onclick="model.btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>

				</div>
			</div>
		</div>
		<div class="gridPanel">
			<div class="filter-block hs-block">
				<form>
					<table class="flyout-table">
						<thead>
							<tr>
								<th width=""></th>
								<th width=""></th>
								<th width=""></th>
								<th width=""></th>
								<th width=""></th>
								<th width=""></th>
								<th width=""></th>
								<th width=""></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>服务单号:</td>
								<td><input type="text" class="form-control" id="slSeq"></td>
								<td>客户单位:</td>
								<td><input type="text" class="form-control" id="client"></td>
								<td>联系人:</td>
								<td><input type="text" class="form-control" id="linkman"></td>
							</tr>

							<tr>
								<td>创建人:</td>
								<td><input type="text" class="form-control" id="CreateUserName"></td>
								<td>接收人:</td>
								<td><input type="text" class="form-control" id="Recipients"></td>
							</tr>
							<tr>
								<td>创建时间: </td>
								<td><input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="form-control input-wdatepicker"></td>
								<td>--</td>
								<td><input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="form-control input-wdatepicker"></td>
							</tr>
							<tr class="regular-radio">
								<td>工作流状态:</td>
								<td><input type="radio" id="radio-5-0" name="r5" value="全部"><label for="radio-5-0">全部</label></td>
								<td><input type="radio" id="radio-5-1" name="r5" checked="checked" value="待办"><label for="radio-5-1">待办</label></td>
								<td><input type="radio" id="radio-5-4" name="r5" value="已办"><label for="radio-5-4">已办</label></td>
								<td><input type="radio" id="radio-5-5" name="r5" value="挂起"><label for="radio-5-5">挂起</label></td>
							</tr>
							<tr class="regular-radio">
								<td>创建状态:</td>
								<td><input type="radio" id="radio-3-1" name="r3" checked="checked" value="全部"><label for="radio-3-1">全部</label></td>
								<td><input type="radio" id="radio-3-2" name="r3" value="待办"><label for="radio-3-2">待办</label></td>
								<td><input type="radio" id="radio-3-3" name="r3" value="外部系统新建"><label for="radio-3-3">外部系统新建</label></td>
							</tr>

						</tbody>
					</table>
					<table id="sevice_nature" class="flyout-table"></table>
					<table id="workstaus_id" class="flyout-table"></table>
					<div class="file-buts">
						<a id="" class="btn btn-primary" id="submitSelect" onclick="model.submitdata()">查询</a>
						<button class="btn btn-primary rt-but" type="reset">重置</button>
						<span class="hidden-text" style="position: absolute; right: -73px; top: 36px; cursor: pointer;" onclick="model.show_hs()">&and;&nbsp;收起</span>
					</div>
				</form>
			</div>
			<table id="gridTable"></table>
			<div id="gridPager"></div>
		</div>
	</body>
	<!--独立界面引用-->
	<!--<link href="../../../static/css/aws/home/homeDesktop.css" />
	<script src="../../../static/js/aws/home/home.js"></script>-->
	<link rel="stylesheet" type="text/css" href="../../css/custom_ToNeed/index.css" />
	<script src="../../js/custom_ToNeed/index.js" type="text/javascript" charset="utf-8"></script>

</html>