<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>污水处理费基础数据设置</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		<link rel="stylesheet" type="text/css" href="../../../static/css/basic.css" />
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/demo.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/ajaxfileupload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/fastclick.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/select2.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/lib/cm.js"></script>
		<script src="../../../static/lib/util.js"></script>
		<link href="../../../static/lib/styles/font-awesome.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="../../../static/lib/scripts/bootstrap/bootstrap.extension.css" rel="stylesheet" />
		<script src="../../js/dropzone.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/lib/scripts/bootstrap/bootstrap.min.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/WdatePicker.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<link href="../../common/tree/tree.css" rel="stylesheet" />
		<script src="../../common/tree/tree.js"></script>
		<link href="../../../static/lib/styles/learun-bill.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/validator/validator.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-clientdata.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-im.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-webAppData.js"></script>
		<link href="../../../static/lib/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
		<script src="../../../static/lib/scripts/plugins/jqgrid/jqgrid.js"></script>
		<link href="../../../static/lib/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/datetime/pikaday.js"></script>
		<link href="../../../static/lib/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/plugins/wizard/wizard.js"></script>
		<link href="../../../static/lib/styles/learun-ui.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-ui.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-form.js"></script>
		<script src="../../../static/lib/scripts/plugins/printTable/jquery.printTable.js"></script>
		<link href="../../../static/lib/styles/learun-ckbox-radio.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-applayout.css" rel="stylesheet" />
		<link href="../../../static/lib/styles/learun-flow.css" rel="stylesheet" />
		<script src="../../../static/lib/scripts/utils/learun-applayout.js"></script>
		<script src="../../../static/lib/scripts/plugins/flow-ui/flow.js"></script>
		<script src="../../../static/lib/scripts/utils/learun-flowlayout.js"></script>
		<script src="../../../static/lib/page_parameters.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/css/blue.css" />
		<script src="../../../static/lib/scripts/as/know/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/lib/scripts/as/know/js/layui/css/layui.css" />
		<!--时间控件引用-->
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/en.js"></script>
		<script src="../../../static/lib/scripts/plugins/datepicker/lang/zh-tw.js"></script>
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/default/datepicker-dev.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/whyGreen/datepicker.css" />
		<link href="../../../static/lib/scripts/plugins/datepicker/skin/WdatePicker.css" />
		<script src="../../../static/lib/scripts/plugins/datepicker/DatePicker.js"></script>
		<script src="../../js/summernote.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/summernote-zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/lib/styles/summernote.css" />
		<script src="../../../static/lib/scripts/as/know/js/global.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../css/_all-skins.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/page_data.css" />
		<link rel="stylesheet" type="text/css" href="../../css/AdminLTE.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/ionicons.css" />
		<link rel="stylesheet" type="text/css" href="../../css/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/dropzone.css" />
		<style type="text/css">
			#specif_table_id tbody td {
				border-right: 1px solid #ccc;
			}
		</style>
	</head>

	<body>
		<div class="mian">
		<div class="row mian">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">基础数据配置</h3>
					</div>
					<div class="row middle" style="position: relative;">
						<div class="cent">
							<div class="class_a">
								<div class="form-group" style="height: 30px;line-height: 30px;">
									<label class="col-sm-1 control-label">合同统一价：</label>
									<div class="col-sm-1">
										<input type="text" class="form-control" id="price" placeholder="">
									</div>
									<label class="col-sm-1 control-label">元/m3</label>
								</div>
								<div class="form-group" style="height: 30px;line-height: 30px;"><label class="col-sm-1 control-label">阶梯价格：</label></div>
								<div class="imgs_yiji">
									<div class="col-md-7" style="padding-left: 0;">
										<div id="specif_id">
											<table id="specif_table_id"></table>
										</div>
									</div>
									<div class="btn_position">
										<a id="lrs_add_model_one" class="btn btn-primary" onclick="model.add_specif()"><i class="fa fa-pencil"></i>新增</a>
										<a id="lrs_save_model_one" class="btn btn-primary" onclick="model.save_specif()"><i class="fa fa-save"></i>保存</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<link rel="stylesheet" type="text/css" href="../../css/sewage/basic_data.css"/>
	<script src="../../js/sewage/basic_data.js" type="text/javascript" charset="utf-8"></script>
	

</html>